/* General Website Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: F2f2f2;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

main {
  font-size: 15px;
  font-weight: 300; 
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 25px;
}

h2 {
  font-size: 33px;
  font-weight: 400;
  margin: 15px 10px;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  margin: 15px 10px;

}

h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
  }

a {
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
}

p {
font-size: 16px;
font-weight: 400;
padding-bottom: 10px;
margin: 10px;
}

strong {
  font-weight: 900;
}

.main-content {
  padding: 0px 25px;
}

/* Begin Navigation Styling */
.nav-flex {
  display: flex;
  padding: 15px 50px 15px 50px;
  justify-content: space-between;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  display: flex;
}

.menu-list li {
  padding-right: 10px;
}

.menu-item:not(:last-child){
  margin-right: 1rem;
}

.menu-item a,
.logo {
  text-decoration: none;
  color: #333;
}

.hero-image {
  font-size: 1.5rem;
}

.menu-btn {
  margin-right: 15px;
  width: 35px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.bar {
  height: 3px;
  background-color: #fff;
  margin: 0.5rem 0;
}

.menu-btn::after,
.menu-btn::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #fff;
}

/* Contact Us/Hero Image Button Animation ***COURSE REQUIREMENT*** */

.btn {
  position: flex;
  margin: 25px;
  display: block;
  color: white;
  letter-spacing: 5px;
	font-size: 20px;
	text-align:adfgt center;
  cursor: pointer;
  max-width: 300px; 
  width: 100%; 
  outline: 3px solid;
  outline-color: #5FC0DC; 
  outline-offset: 15px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.container {
	height: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
}

.btn:hover {
	color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}

.flex-responsive-container {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-item {
  width: 100%;
}

/* Media Queries For Smaller Screens ***COURSE REQUIREMENT*** */

@media screen and (min-width: 401px) {
  .menu-btn {
    display: block;
  }

  .flex-responsive-container {
    flex-direction: row;
  }

  .flex-item {
    width: 50%;
  }

  .main-nav {
    flex-wrap: wrap;
  }

  .menu-list {
    flex-basis: 100%;
    flex-grow: 1;
    flex-direction: column;
  }

  .menu-item {
    margin-top: 0.5rem;
  }

  .nav-hidden {
    display: none;
  }
}

nav {
  display: flex;
	width: 100%;
	display: none;
}

nav ul {
margin-top: auto;
}

.active {
  color: #5FC0DC;
}

.side-nav {
  text-align: center;
}

.about-image {
  width: 100%;
}

/* Media Queries For Larger Screens */

@media screen and (min-width: 800px) {
  
  .nav-hidden {
    display: inline-block;
  }

  .menu-btn {
    display: none;
  }

  .content {
    padding: 0 50px;
  }
  
  .toggler {
    display: none;
  }

  .column {
    width: 100%;
  }
  
  nav {
    display: inline-block !important; /* prevents the navigation to hide when resizing */
    position: relative;
    width: auto;
    float: none;
    padding: 5px 0;
  }
 
  nav ul {
    float: left;
  }
  
  nav ul li {
    display: inline-block;
    padding-right: 20px;
  }
  
  side-nav {
   float: right;
  }
}

/**
* Hero Image Styling
*/

/* The hero image background*/
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/Kayaking.jpg");

/* Position and center the image to scale on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Place hero text in the middle of the image */
.hero-text {
  text-align: center;
  color: white;
}

/* hero button*/
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}


/**
* Contact Us Styling
*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea { 
  padding: 10px; 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box;
  margin: 20px;  
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.input-group {
  margin-left: 20px;
}

/* Style "Add Me!" button */

.button {
  margin: 20px 10px;
  background-color: #5FC0DC;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.contact-form {
  display: flex;
  border-radius: 5px;
  padding: 20px;
}

/**
* Two Column Boxes****
*/

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  float: left;
  width: 50%;
  padding: 10px;
  border-color: #ccc;
}


/* Contact Us Image Styles */
.about-image {
  width: 100%;
  height: auto;
  margin-top: 30px;
  object-position: bottom;
}

/**
* Footer Styling
*/

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #5FC0DC;
  color: #fff;
  margin-top: auto
}